<%- include('../index_top.ejs')-%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <h1>이메일 계정 확인이 완료되었습니다.</h1>
            <a href="/member_cognito">홈으로</a>

        </div>

<%- include('../index_bottom.ejs')-%>
