<%- include('../index_top.ejs')-%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <h1>member_cognito</h1>
            <section class="messages"> <%= message %> </section>
            <form action="/member_cognito/signIn" method="POST">
                Username : <br><input type="text" name="username"><br>
                Password : <br><input type="text" name="password"><br>
                <input type="submit">
            </form>
            
            <div>
                <a href="/member_cognito/signUp">signUp</a>
            </div>

        </div>

<%- include('../index_bottom.ejs')-%>
