<%- include('../index_top.ejs')-%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <h1>Is Login?</h1>
            <section class="messages"> <%= message %> </section>

        </div>

<%- include('../index_bottom.ejs')-%>
