<%- include('../index_top.ejs')-%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <h1>회원가입 결과</h1>
            <section class="messages"> <%= message %> </section>
            <div>
                <a href="/member_cognito">cognito main으로 이동</a>
            </div>

        </div>

<%- include('../index_bottom.ejs')-%>
