<%- include('../index_top.ejs')-%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <h1>회원정보 수정</h1>

            <p>새로운 PW 를 입력하세요.</p>
            <form action="/member_cognito/updatePassword" method="POST">

                <input type="text" name="old-password" placeholder="Old password" autofocus required><br>
                <input type="text" name="password" placeholder="New password" required><br>
                <input type="text" name="confirm-password" placeholder="Confirm New password" required><br>

                <input type="submit" value="Change Password">
            </form>

        </div>

<%- include('../index_bottom.ejs')-%>
