<%- include('../index_top.ejs')-%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <h1>member_cognito</h1>
            <section class="messages"> <%= message %> </section>

            <a href="/member_cognito/updateUserInfo">회원정보 수정</a>
        </div>

<%- include('../index_bottom.ejs')-%>
